<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message App</title>
    <style>
        /* v-cloak 지시자 : DOM이 로드되고 마크업 템플릿이 Vue 엔진에 의해서 변환되기까지의 템플릿을 숨기기 위함 */
        [v-cloak] {display: none;}
        body > div{ 
            width: 500px;
            margin : 0 auto;
        }
        textarea{
            width: 100%;
        }
        ul{ padding : 0 15px; }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <!--
        <ul>
            <li v-for="message in messages">
                {{ message.text }} - {{ message.createdAt }}
                <button v-on:click="deleteMessage(message)">X</button>
            </li>
        </ul>
         -->
        <message-list v-bind:items="messages" v-on:delete="deleteMessage"></message-list>
        <form v-on:submit.prevent="addMessage">
            <textarea v-focus v-model="newMessage" placeholder="Leave a message"></textarea>
            <div><button type="submit" v-bind:disabled="addDisabled">Add</button></div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module">
        /*
         * Vue.js
         * v-bind : 해당 태그의 속성에 원하는 대상(값)을 연결 => 인자
         * 컴포넌트는 서로 고립된 스코프를 가진다 => 상위 컴포넌트와 통신하기 위해 v-bind와 props 옵션으로 연결
        */
        import MessageList from './component/messageList.js'
        import './directives/directive_focus.js'
        import './filters/filter_datetime.js'
        import lifecycleLogger from './mixins/mixin_lifecycle-logger.js'

        window.vm = new Vue({
            el: '#app',
            name : 'messageApp',
            data: {
                // Vue의 반응성은 배열 인덱스로 직접 삽입이나 길이 변경, 객체에 새로운 프로퍼티를 추가, 삭제에는 반응하지 않는다.
                // 따라서 배열을 조작할때는 메소드를 사용해야 하고 객체의 변경에는 Vue.set(obj, key, value), Vue.delete(...), vm.$set(...), vm.$delete(...)를 사용함.
                messages : [],
                newMessage : ''
            },
            mixins : [lifecycleLogger],
            methods: {
                addMessage(event){
                    if(!this.newMessage) { return; }
                    axios.post('api/messages', {text: this.newMessage})
                        .then((response) => {
                            this.messages.push(response.data)
                            this.newMessage = ''
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                },
                deleteMessage(message){
                    this.messages.splice(this.messages.indexOf(message),1)
                }
            },
            // computed 프로퍼티는 계산된 값으로 computed에 종속된 대상을 추적하고 대상이 변경될때마다 대상을 업데이트한다.
            computed: {
                addDisabled(){
                    return this.messages.length > 10 || this.newMessage.length > 50
                }
            },
            created () {
                axios.get('api/messages?_=' + new Date().getTime())
                    .then((response) => {
                        this.messages = response.data
                    })
                    .catch((error) => {
                        console.log('Failed to get messages' + error);
                    });
            },
            components :{
                MessageList,
            }
        })
    </script>
</body>
</html>